<!-- wp:template-part {"slug":"main-header","theme":"creative-design-agency","tagName":"header"} /-->

<!-- wp:group -->
<div class="wp-block-group">

<!-- wp:pattern {"slug":"creative-design-agency/default-header"} /-->

<!-- wp:group {"tagName":"main","layout":{"type":"default"}} -->
<main class="wp-block-group">

<!-- wp:pattern {"slug":"creative-design-agency/404"} /-->

</main>
<!-- /wp:group -->


</div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer-columns","theme":"creative-design-agency","tagName":"footer"} /-->