<!-- wp:template-part {"slug":"main-header","theme":"creative-design-agency","tagName":"header"} /-->

<!-- wp:group {"layout":{"type":"default"}} -->
<div class="wp-block-group">
  
  <!-- wp:pattern {"slug":"creative-design-agency/main-banner"} /-->

  <!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"right":"0px","left":"0px","top":"0px","bottom":"0px"}}},"layout":{"type":"default"}} -->
  <main class="wp-block-group" style="padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px">

  <!-- wp:pattern {"slug":"creative-design-agency/service-section"} /-->

  </main>
  <!-- /wp:group -->

  <!-- wp:pattern {"slug":"creative-design-agency/testimonial"} /-->

  <!-- wp:pattern {"slug":"creative-design-agency/projects-section"} /-->

</div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer-columns","theme":"creative-design-agency","tagName":"footer"} /-->